---
import Layout from "../../layouts/Layout.astro";

const galleryEvents = [
  // 1
  {
    title: "Eventos Empresariales",
    description:
      "Un hermoso evento tropical entre palmeras y arenas y de esta forma se culmina la estación de verano para darle inicio al frío otoño.",
    image: "/evento-empresarial/empresarial-1/imagen-1.jpg",
    route: "/galeria/empresarial-1",
  },
  // 2
  {
    title: "Eventos Empresariales",
    description: "Este fin de semana tuvimos un grandioso evento a la rivera del Río , con una linda y emotiva ceremonia  que lleno de alegría a los novios y sus invitados, un lugar mágico de recordar.",
    image: "/evento-empresarial/empresarial-2/imagen-1.jpg",
    route: "/galeria/empresarial-2",
  },
  // 3
  {
    title: "Eventos Empresariales",
    description: "Decoraciones que transmiten profesionalismo y modernidad en reuniones corporativas.",
    image: "/evento-empresarial/empresarial-3/imagen-1.jpg",
    route: "/galeria/empresarial-3",
  }
];
---

<Layout
  title="Decoraciones que transmiten profesionalismo y modernidad en reuniones corporativas."
>
  <section
    class="px-6 md:px-10 py-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8"
  >
    {
      galleryEvents.map((event) => (
        <a
          href={event.route}
          class="group block relative rounded-xl overflow-hidden shadow-lg"
        >
          <img
            src={event.image}
            alt={event.title}
            class="w-full h-64 object-cover transform transition duration-300 group-hover:scale-110"
          />
          <div class="absolute inset-0 bg-black/50 flex flex-col justify-end p-4 opacity-0 group-hover:opacity-100 transition">
            <h3 class="text-white text-xl font-bold">{event.title}</h3>
            <p class="text-white text-sm mt-1">{event.description}</p>
          </div>
        </a>
      ))
    }
  </section>
</Layout>
